body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 166px;
}

.header {
  background-image: url(image/bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_item {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color 0.3s linear;
}

.nav_item:hover {
  color: red;
}

.cart {
  position: relative;
  border-right: 1px solid #FFFFFF;
  padding-right: 10px;
  height: 50px;
}

.cart_img {
  position: absolute;
  top: 18px;
  right: 7px;
}

.num {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s linear;
}

.num:hover {
  color: red;
}

.phone_text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.phone_holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: #FF7400;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #894d17;
}

.header_dawn {
  position: relative;
}

.header_title {
  color: #D67E35;
  font-family: 'Tinos', serif;  
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 12px;
}

.header_suptitle {
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.header_suptitle:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 127px;
  left: 56px;
}

.header_suptitle:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 127px;
  left: 308px;
}

.header_button {
  background-color: #FF7400;
  padding: 14px 27px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.header_button:hover {
  background-color: #894d17;
}

.card_holder {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 10px 10px 40px 20px #0000001A;
  width: 349px;
  margin-right: 31px;
  background-color: #fff;
  margin-top: -80px;
  padding: 10px 10px;
}

.card_image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.card_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Tinos', serif;  
  font-size: 26px;
  font-weight: 400;
}

.card_title span {
  color: #BC9060;
}

.card_desc {
  text-align: center;
  font-family: 'Tinos', serif;  
  font-size: 26px;
  font-weight: 400;
  color: #656363;

}

.history {
  margin-top: 166px;
  padding-bottom: 200px;
}

.history_title {
  font-family: 'Tinos', serif;  
  font-size: 54px;
  font-weight: 400;
  width: 444px;
  text-align: center;
  margin-top: 21px;
}

.history_title span {
  color: #BC9060;
}

.history_desc {
  color: #656363;
  font-size: 16px;
  width: 444px;
  text-align: center;
}

.history_number {
  display: flex;
  width: 444px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
}

.number_item {
  margin-right: 60px;
  text-align: center;
  font-size: 40px;
  color: #BC9060;
}

.number_item span {
  display: block;
  color: #000;
}

.history_holder {
  display: flex;
  justify-content: space-between;
}

.history_images {
  position: relative;
}

.images1 {
  position: absolute;
  z-index: 0;
  top: 54px;
  left: -374px;
}

.images2 {
  position: absolute;
  z-index: 999;
  top: -100px;
  left: -274px;
}

.images3 {
  position: absolute;
  z-index: 999;
  top: -24px;
  left: -109px;
}

.black_blok {
  background-image: url(image/black_bg.png);
  padding: 80px 0;
}

.left_title {
  color:  #D67E34;
  font-size: 53px;
  font-weight: 400;
  font-family: 'Tinos', serif; 
  margin-bottom: 20px;
}

.left_text {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.right_btn {
  background-color: #FF7400;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.2s linear;
}

.right_btn:hover {
  background-color: #894d17;
}


.block_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes_title {
  font-family: 'Tinos', serif; 
  font-size: 53px;
  text-align: center;
  padding-top: 132px;
  margin-bottom: 139px;
}

.dishes_title span {
  color: #FF7400;
}

.burgers {
  display: flex;
  justify-content: center;
}

.burger_itam {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.burgers_image {
  margin-right: 20px;
}

.burgers_text {
  font-family: 'Tinos', serif; 
  font-size: 26px;
  margin-left: 20px;
}

.menu {
  background-image: url(image/menu_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.menu_title {
  font-family: 'Tinos', serif; 
  font-size: 54px;
  padding-top: 98px;
  color: #fff;
  text-align: center;
  padding-bottom: 138px;
}

.menu_itam {
  background-color: #fff;
  text-align: center;
  width: 33%;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-right: 20px;
}

.menu_text {
  font-family: 'Tinos', serif; 
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.sab_text {
  font-size: 16px;
}

.menu_btn {
  background-color: #D67E34;
  text-decoration: none;
  padding: 14px 67px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #00000040;

}

.menu_button {
  margin-top: 20px;
}

.prise_image {
  position: absolute;
  bottom: 0;
  right: 32px;
}

.menu_image {
  position: relative;
}

.prise420 {
  position: absolute;
  bottom: 34px;
  right: 58px;
  color: #fff;
  font-size: 30px;
  font-family: 'Cookie'
}

.menu_itams {
  display: flex;
  justify-content: center;
  position: relative;
}

.recom {
  width: 101px;
  height: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px; 
  top: 7px;
  left: 11px;  
  position: absolute;
}

.rec{
  width: 124px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;  
  background-color: #D67E34;
}